@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}


@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }
}
@layer components{
    .flex-box{
        @apply flex items-center justify-center
    }
}