#Frontend Production Ignore
frontend_prod/logs
frontend_prod/*.log
frontend_prod/npm-debug.log*
frontend_prod/yarn-debug.log*
frontend_prod/yarn-error.log*
frontend_prod/pnpm-debug.log*
frontend_prod/lerna-debug.log*
frontend_prod/dist
frontend_prod/node_modules
frontend_prod/*.local
frontend_prod/.vscode/*
frontend_prod/!.vscode/extensions.json
frontend_prod/.idea
frontend_prod/.DS_Store
frontend_prod/*.suo
frontend_prod/*.ntvs*
frontend_prod/*.njsproj
frontend_prod/*.sln
frontend_prod/*.sw?
frontend_prod/package-lock.json
frontend_prod/yarn.lock
frontend_prod/.env

#Backend Production Ignore
backend_prod/node_modules 
backend_prod/package-lock.json
backend_prod/.env