{
    PORT=
    MONGO_URL=
    DB_NAME=
    CORS_ORIGIN=
    ACCESS_TOKEN_SECRET=
    ACCESS_TOKEN_EXPIRY=
    REFRESH_TOKEN_SECRET=
    REFRESH_TOKEN_EXPIRY=
    COOKIE_HTTP_ONLY=
    COOKIE_SECURE=
    RAZORPAY_KEY_ID=
    RAZORPAY_KEY_SECRET=
}
// PORT : Obvious? ig?
// MONGO_URL : Connection String of your MongoDB
// DB_NAME : ^^ ? Come-on you should know this one
// CORS_ORIGIN: Cross-origin resource sharing origin
// ACCESS_TOKEN_SECRET: Secret to Secure ACCESS_TOKEN
// ACCESS_TOKEN_EXPIRY: :D ? eg. 7d
// COOKIE_HTTP_ONLY: Boolean // true/false
// COOKIE_SECURE : Boolean // true/false
// RAZORPAY_KEY_ID : :D Obvious ? Isn't it?
// RAZORPAY_KEY_SECRET : :D Obvious ? Isn't it?